#backButton {
    width: 150px;
    height: 35px;
    font-size: 20px;
    line-height: 35px;
    position: absolute;
    top: 0;
    box-sizing: initial;
}

#logoutButton {
    background-color: #aa4040;
    width: 100px;
    height: 35px;
    font-size: 20px;
    line-height: 35px;
    position: absolute;
    top: 0;
    box-sizing: initial;
}

body {
    background-color: #404080;
}

.elementGroup {
    display: none;
    margin: 0 auto;
    width: 405px;
    color: white;
    margin-top:10%;
    border-radius: 5px;
    padding: 10px;
}

#entryOptions h2 {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

#createMenu, #loginMenu {
    background-color: white;
    color: black;
    text-align: center;
}

#createMenu h3, #loginMenu h3 {
    margin-top: 0;
}

#createMenu input, #loginMenu input {
    width: 90%;
    display: block;
    padding-left: 10px;
    margin: 0 auto;
    margin-top: 15px;
}

#createMenu #usernameUsedErrorText, #createMenu #authenticationCredsErrorText {
    display: none;
    color: #aa4040;
}

.subscript {
    display: inline;
    font-size: 15px;
    vertical-align: top;
}

.button {
    width: 200px;
    text-align: center;
    margin: 0 auto;
    background-color: #888;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    padding: 5px 10px;
    font-size: 20px;
    line-height: 40px;
    margin-top: 10px;
    display: inline-block;
    box-sizing: border-box;
}

.button.confirm {
    background-color: #51ac27;
    line-height:30px;
}

.tagline {
    font-size: 12px;
    color: #4040ff;
    cursor: pointer;
    margin-top: 10px;
}

.gameOption {
    width: 400px;
    background-color: white;
    margin-bottom: 10px;
    border: 4px solid gray;
    color: black;
    border-radius: 50px;
}

.gameOption.awaitingTurn {
    background-color: gray;
}

.gameOption.finished {
    color: white;
    border-color: white;
}

.gameOption.finished.winner {
    background-color: #51ac27;
}

.gameOption.finished.loser {
    background-color: #aa4040;
}

#content { 
    color: black;
    margin-top: 25px;
}

#t3Table {
    height: 400px;
    width: 400px;
    margin: 0 auto;
    display: table;
}

#header {
    margin: 0 auto;
    text-align: center;
    height: 50px;
    color: white;
}

#turnText {
    display: inline;
}

.square {
    width: 33.33%;
    height: 33.33%;
    display: table-cell;
    border: 5px solid black;
    box-sizing: border-box;
    vertical-align: top;
}

.square.current:not(.taken) .cell {
    background-color: lightyellow !important;
}

.innerTable {
    width: 100%;
    height: 100%;
    display: table;
}

.square.taken .innerTable {
    font-size: 32px;
    text-align: center;
    line-height: 120px;
}

.row {
    display: table-row;
    height:33.33%;
    width: 100%;
}

.square .cell {
    width: 33.33%;
    display: table-cell;
    border: 1px solid gray;
    background-color: white;
    margin: 0px;
    box-sizing: border-box;
    text-align: center;
    line-height: 40px;
}

.square.selectable .cell:hover:not(.taken) {
    background-color: yellow !important;
    cursor: pointer;
}